# Scraping_Safest_Cars_Latin_NCAP

In [1]:
!pip install requests --upgrade --quiet

In [2]:
import requests

In [3]:
Latin_NCAP_url = 'https://www.latinncap.com/en/results'

In [4]:
response = requests.get(Latin_NCAP_url)

In [5]:
response.status_code

200

In [6]:
len(response.text)

236875

In [7]:
Webpage_contents = response.text

In [8]:
Webpage_contents[:1000]

'\r\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">\r\n<html xmlns="http://www.w3.org/1999/xhtml">\r\n\r\n<head>\r\n    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />\n<title>LATIN NCAP</title>\n<base href="https://www.latinncap.com/"/>\n<link rel="shortcut icon" href="favicon.png?1101">\n<link rel="apple-touch-icon" href="apple-touch-icon-76x76.png?2581" />\n<link rel="apple-touch-icon" href="apple-touch-icon-120x120.png?4543" />\n<link rel="apple-touch-icon" href="apple-touch-icon-152x152.png?6276" />\n\n<meta name="Description" content="Latin NCAP is an independent assessment program for new vehicles in Latin America and the Caribbean"> \n<meta name="Keywords" content="Latin NCAP, Latinncap, NCAP,New Car Assessment Programme for Latin America and the Caribbean, car safety ratings, car star rating, safety assessment for cars, crash test dummy,  crash test dummies, new car, new safe car, new vehicle, new saf'

In [9]:
!pip install beautifulsoup4 --upgrade --quiet

In [10]:
from bs4 import BeautifulSoup

In [11]:
doc = BeautifulSoup(Webpage_contents, 'html.parser')

The format of data ---> Brand , Model , Date , Stars , Protection of Grown ups Occupant , Protection of Child Occupant,
Protection of Pedestrain , vulnerable users , Safety assist systems

# BRANDS COLUMN

In [12]:
selection_class = "tit-marca"
Brand_tags = doc.find_all('span',{'class': selection_class})

In [13]:
len(Brand_tags)

44

In [14]:
Brand_tags[:10]

[<span class="tit-marca">Fiat</span>,
 <span class="tit-marca">Ford</span>,
 <span class="tit-marca">Great Wall Motors</span>,
 <span class="tit-marca">Hyundai</span>,
 <span class="tit-marca">Kia</span>,
 <span class="tit-marca">Peugeot</span>,
 <span class="tit-marca">Renault</span>,
 <span class="tit-marca">Suzuki</span>,
 <span class="tit-marca">Toyota</span>,
 <span class="tit-marca">Volkswagen</span>]

In [15]:
Brand_titles = []

for tag in Brand_tags:
    Brand_titles.append(tag.text)
(Brand_titles)

['Fiat',
 'Ford',
 'Great Wall Motors',
 'Hyundai',
 'Kia',
 'Peugeot',
 'Renault',
 'Suzuki',
 'Toyota',
 'Volkswagen',
 'BYD',
 'Chery',
 'Chevrolet',
 'Fiat',
 'Ford',
 'Hyundai',
 'Kia',
 'Mazda',
 'Mitsubishi',
 'Nissan',
 'Peugeot',
 'Renault',
 'Seat',
 'Toyota',
 'Volkswagen',
 'Chery',
 'Chevrolet',
 'Citroen',
 'Fiat',
 'Ford',
 'Geely',
 'Honda',
 'Hyundai',
 'JAC',
 'Jeep',
 'Lifan',
 'Mitsubishi',
 'Nissan',
 'Peugeot',
 'Renault',
 'Seat',
 'Suzuki',
 'Toyota',
 'Volkswagen']

In [16]:
len(Brand_titles)

44

# MODELS COLUMN

In [17]:
Model_tags = doc.find_all('h3',class_ = False,id = False)

In [18]:
len(Model_tags)

148

In [19]:
Model_tags[:10]

[<h3>Fiat Argo / Cronos + 2 Airbags</h3>,
 <h3>Ford Ka + 2 Airbags</h3>,
 <h3>Great Wall Motors Wingle 5 + 2 Airbags</h3>,
 <h3>Hyundai Accent + 1 Airbag</h3>,
 <h3>Hyundai Tucson + 2 Airbags</h3>,
 <h3>Hyundai HB20 + 2 Airbags</h3>,
 <h3>Kia Sportage + 2 Airbags</h3>,
 <h3>Kia Picanto / Morning + 1 Airbag</h3>,
 <h3>Peugeot 208 + 4 Airbags</h3>,
 <h3>Renault Duster + 2 Airbags</h3>]

In [20]:
Model_titles = []

for tag in Model_tags:
    Model_titles.append(tag.text)
len(Model_titles)

148

# DATES COLUMN

In [21]:
Date_class = "colum colum-fecha" 
Date_tags = doc.find_all('div',{'class': Date_class})

In [22]:
Date_tags[:10]

[<div class="colum colum-fecha">
 	        December-2021	        </div>,
 <div class="colum colum-fecha">
 	        December-2020	        </div>,
 <div class="colum colum-fecha">
 	        December-2021	        </div>,
 <div class="colum colum-fecha">
 	        December-2021	        </div>,
 <div class="colum colum-fecha">
 	        December-2021	        </div>,
 <div class="colum colum-fecha">
 	        December-2020	        </div>,
 <div class="colum colum-fecha">
 	        December-2021	        </div>,
 <div class="colum colum-fecha">
 	        October-2020	        </div>,
 <div class="colum colum-fecha">
 	        December-2021	        </div>,
 <div class="colum colum-fecha">
 	        August-2021	        </div>]

In [23]:
Date_titles = []

for tag in Date_tags:
    Date_titles.append(tag.text)
len(Date_titles)

79

In [24]:
char = '\n\t'
result = [ele.replace(char, '') for ele in Date_titles]
result[0]

'        December-2021\t        '

In [25]:
result[1]

'        December-2020\t        '

In [26]:
result[45]

'        November-2019\t        '

In [27]:
char = '\t'
result = [ele.replace(char, '') for ele in result]
result[0]

'        December-2021        '

# GROWN_UPS COLUMN

In [28]:
Grown_ups_class = "porcentaje adulto"
Grown_ups_tags = doc.find_all('div',{'class': Grown_ups_class})

In [29]:
Grown_ups_tags[:10]

[<div class="porcentaje adulto">24%</div>,
 <div class="porcentaje adulto">34%</div>,
 <div class="porcentaje adulto">9%</div>,
 <div class="porcentaje adulto">9%</div>,
 <div class="porcentaje adulto">51%</div>,
 <div class="porcentaje adulto">19%</div>,
 <div class="porcentaje adulto">48%</div>,
 <div class="porcentaje adulto">0%</div>,
 <div class="porcentaje adulto">52%</div>,
 <div class="porcentaje adulto">29%</div>]

In [30]:
Grown_ups_titles = []
for tag in Grown_ups_tags:
    Grown_ups_titles.append(tag.text)
Grown_ups_titles

['24%',
 '34%',
 '9%',
 '9%',
 '51%',
 '19%',
 '48%',
 '0%',
 '52%',
 '29%',
 '20%',
 '16%',
 '41%',
 '90%']

In [31]:
len(Grown_ups_titles)

14

In [32]:
Child_class = 'porcentaje nino'
Child_tags = doc.find_all('div',{'class': Child_class})

In [33]:
Child_tags[:10]

[<div class="porcentaje nino">10%</div>,
 <div class="porcentaje nino">9%</div>,
 <div class="porcentaje nino">0%</div>,
 <div class="porcentaje nino">13%</div>,
 <div class="porcentaje nino">4%</div>,
 <div class="porcentaje nino">10%</div>,
 <div class="porcentaje nino">15%</div>,
 <div class="porcentaje nino">29%</div>,
 <div class="porcentaje nino">55%</div>,
 <div class="porcentaje nino">23%</div>]

In [34]:
Child_titles = []
for tag in Child_tags:
    Child_titles.append(tag.text)
Child_titles

['10%',
 '9%',
 '0%',
 '13%',
 '4%',
 '10%',
 '15%',
 '29%',
 '55%',
 '23%',
 '17%',
 '0%',
 '64%',
 '90%']

In [35]:
len(Child_titles)

14

In [36]:
Pedestrian_class = "porcentaje usuarios"
Pedestrian_tags = doc.find_all('div',{'class': Pedestrian_class})

In [37]:
Pedestrian_tags[:10]

[<div class="porcentaje usuarios">37%</div>,
 <div class="porcentaje usuarios">50%</div>,
 <div class="porcentaje usuarios">19%</div>,
 <div class="porcentaje usuarios">53%</div>,
 <div class="porcentaje usuarios">50%</div>,
 <div class="porcentaje usuarios">43%</div>,
 <div class="porcentaje usuarios">58%</div>,
 <div class="porcentaje usuarios">51%</div>,
 <div class="porcentaje usuarios">54%</div>,
 <div class="porcentaje usuarios">51%</div>]

In [38]:
Pedestrian_titles = []
for tag in Pedestrian_tags:
    Pedestrian_titles.append(tag.text)
Pedestrian_titles

['37%',
 '50%',
 '19%',
 '53%',
 '50%',
 '43%',
 '58%',
 '51%',
 '54%',
 '51%',
 '64%',
 '66%',
 '62%',
 '61%']

In [39]:
len(Pedestrian_titles)

14

# SAFETY COLUMN

In [40]:
Safety_class = "porcentaje asistentes"
Safety_tags = doc.find_all('div',{'class': Safety_class})

In [41]:
Safety_tags[:10]

[<div class="porcentaje asistentes">7%</div>,
 <div class="porcentaje asistentes">7%</div>,
 <div class="porcentaje asistentes">0%</div>,
 <div class="porcentaje asistentes">7%</div>,
 <div class="porcentaje asistentes">7%</div>,
 <div class="porcentaje asistentes">14%</div>,
 <div class="porcentaje asistentes">7%</div>,
 <div class="porcentaje asistentes">7%</div>,
 <div class="porcentaje asistentes">56%</div>,
 <div class="porcentaje asistentes">35%</div>]

In [42]:
Safety_titles = []
for tag in Safety_tags:
    Safety_titles.append(tag.text)
Safety_titles

['7%',
 '7%',
 '0%',
 '7%',
 '7%',
 '14%',
 '7%',
 '7%',
 '56%',
 '35%',
 '7%',
 '7%',
 '42%',
 '85%']

In [43]:
len(Safety_titles)

14

In [44]:
!pip install pandas --quiet

In [45]:
import pandas as pd

In [46]:
NCAP_dict = {
    
    'Model': Model_titles[:14],
    'Date': result[:14],
    'Grown ups': Grown_ups_titles,
    'Child': Child_titles,
    'Pedestrian':Pedestrian_titles,
    'Safety': Safety_titles}

In [47]:
NCAP_df = pd.DataFrame(NCAP_dict)
NCAP_df

,Model,Date,Grown ups,Child,Pedestrian,Safety
0,Fiat Argo / Cronos + 2 Airbags,December-2021,24%,10%,37%,7%
1,Ford Ka + 2 Airbags,December-2020,34%,9%,50%,7%
2,Great Wall Motors Wingle 5 + 2 Airbags,December-2021,9%,0%,19%,0%
3,Hyundai Accent + 1 Airbag,December-2021,9%,13%,53%,7%
4,Hyundai Tucson + 2 Airbags,December-2021,51%,4%,50%,7%
5,Hyundai HB20 + 2 Airbags,December-2020,19%,10%,43%,14%
6,Kia Sportage + 2 Airbags,December-2021,48%,15%,58%,7%
7,Kia Picanto / Morning + 1 Airbag,October-2020,0%,29%,51%,7%
8,Peugeot 208 + 4 Airbags,December-2021,52%,55%,54%,56%
9,Renault Duster + 2 Airbags,August-2021,29%,23%,51%,35%
10,Suzuki Baleno + 2 Airbags,October-2021,20%,17%,64%,7%
11,Suzuki Swift + 2 Airbags,August-2021,16%,0%,66%,7%
12,Toyota Yaris + 2 Airbags,October-2021,41%,64%,62%,42%
13,Volkswagen Taos + 6 Airbags,December-2021,90%,90%,61%,85%

In [48]:
driver_class = "colum colum-240 adulto"
Grown_ups_occupant = doc.find_all('div',{'class': driver_class})

In [49]:
len(Grown_ups_occupant)

134

In [50]:
Driversafety_titles = []

for tag in Grown_ups_occupant:
    Driversafety_titles.append(tag.text)
len(Driversafety_titles)

134

In [51]:
char = '\n'
result1 = [ele.replace(char, '') for ele in Driversafety_titles]
result1[0]

'0.00 max. 34.00 '

In [52]:
char = '\n'
result1 = [ele.replace(char, '') for ele in Driversafety_titles]
result1[3]

'28.90 max. 34.00 '

In [53]:
Child_class = "colum colum-240 nino"
Child_occupant = doc.find_all('div',{'class': Child_class})
Child_occupant[0].text

'\n\n\n\n\n\n\n12.65 max. 49.00 \n'

In [54]:
Childsafety_titles = []

for tag in Child_occupant:
    Childsafety_titles.append(tag.text)
len(Childsafety_titles)

134

In [55]:
char = '\n'
result2 = [ele.replace(char, '') for ele in Childsafety_titles]
result2[0]

'12.65 max. 49.00 '

In [56]:
char = '\n'
result2 = [ele.replace(char, '') for ele in Childsafety_titles]
result2[3]

'44.33 max. 49.00 '

In [57]:
char = '\n'
result2 = [ele.replace(char, '') for ele in Childsafety_titles]
result2[10]

'13.28 max. 49.00 '

In [58]:
NCAP1_dict = {'Model': Model_titles[14:],
              'Grown_ups_occupant': result1,
              'Child occupant': result2}

In [59]:
NCAP1_df = pd.DataFrame(NCAP1_dict)
NCAP1_df

,Model,Grown_ups_occupant,Child occupant
0,BYD F0 - NO Airbags,0.00 max. 34.00,12.65 max. 49.00
1,Chery Tiggo 3 + 2 Airbags,0.00 max. 34.00,10.21 max. 49.00
2,Chevrolet New Aveo + 2 Airbags (from May 2019)...,23.76 max. 34.00,37.02 max. 49.00
3,Chevrolet New Onix Hatchback + 6 Airbags,28.90 max. 34.00,44.33 max. 49.00
4,Chevrolet New Onix Plus + 6 Airbags,28.34 max. 34.00,42.33 max. 49.00
...,...,...,...
129,Volkswagen Jetta / Vento + 2 Airbags,15.34 max. 17.00,39.20 max. 49.00
130,Volkswagen ClÃ¡sico (Bora) + 2 Airbags,10.27 max. 16.00,35.82 max. 49.00
131,Volkswagen Polo + 2 Airbags,11.34 max. 16.00,36.95 max. 49.00
132,Volkswagen Gol Trend 1.6 + 2 Airbags,10.01 max. 16.00,21.16 max. 49.00
133,Volkswagen Gol Trend 1.6 - NO Airbags,5.75 max. 16.00,18.89 max. 49.00

In [60]:
NCAP1_df.head(11)

,Model,Grown_ups_occupant,Child occupant
0,BYD F0 - NO Airbags,0.00 max. 34.00,12.65 max. 49.00
1,Chery Tiggo 3 + 2 Airbags,0.00 max. 34.00,10.21 max. 49.00
2,Chevrolet New Aveo + 2 Airbags (from May 2019)...,23.76 max. 34.00,37.02 max. 49.00
3,Chevrolet New Onix Hatchback + 6 Airbags,28.90 max. 34.00,44.33 max. 49.00
4,Chevrolet New Onix Plus + 6 Airbags,28.34 max. 34.00,42.33 max. 49.00
5,Chevrolet Cruze + 6 Airbags (from 21/05/2019) ...,30.23 max. 34.00,39.83 max. 49.00
6,Chevrolet New Aveo + 2 Airbags,23.76 max. 34.00,37.02 max. 49.00
7,Chevrolet Cruze + 4 Airbags,30.23 max. 34.00,38.75 max. 49.00
8,Chevrolet Onix/Prisma + 2 Airbags (from 15/01/...,20.24 max. 34.00,32.59 max. 49.00
9,Chevrolet Aveo + 2 Airbags,17.49 max. 34.00,30.11 max. 49.00
10,Chevrolet N300 (passengers) - NO Airbags,11.92 max. 34.00,13.28 max. 49.00

In [61]:
Data = pd.DataFrame(NCAP1_dict)
Data

,Model,Grown_ups_occupant,Child occupant
0,BYD F0 - NO Airbags,0.00 max. 34.00,12.65 max. 49.00
1,Chery Tiggo 3 + 2 Airbags,0.00 max. 34.00,10.21 max. 49.00
2,Chevrolet New Aveo + 2 Airbags (from May 2019)...,23.76 max. 34.00,37.02 max. 49.00
3,Chevrolet New Onix Hatchback + 6 Airbags,28.90 max. 34.00,44.33 max. 49.00
4,Chevrolet New Onix Plus + 6 Airbags,28.34 max. 34.00,42.33 max. 49.00
...,...,...,...
129,Volkswagen Jetta / Vento + 2 Airbags,15.34 max. 17.00,39.20 max. 49.00
130,Volkswagen ClÃ¡sico (Bora) + 2 Airbags,10.27 max. 16.00,35.82 max. 49.00
131,Volkswagen Polo + 2 Airbags,11.34 max. 16.00,36.95 max. 49.00
132,Volkswagen Gol Trend 1.6 + 2 Airbags,10.01 max. 16.00,21.16 max. 49.00
133,Volkswagen Gol Trend 1.6 - NO Airbags,5.75 max. 16.00,18.89 max. 49.00

In [62]:
Data.describe()

                           Model Grown_ups_occupant     Child occupant
count                        134                134                134
unique                       128                113                125
top     Nissan March + 2 Airbags   0.00 max. 34.00   43.00 max. 49.00
freq                           3                  8                  3

In [63]:
NCAP_df.describe()

,Model,Date,Grown ups,Child,Pedestrian,Safety
count,14,14,14,14,14,14
unique,14,5,13,12,12,7
top,Kia Sportage + 2 Airbags,December-2021,9%,0%,50%,7%
freq,1,7,2,2,2,8